# Node modules
dist/
build/
node_modules/

# Dependency directories
__pycache__/
.env
.env.*

# Docker
cloudflared/
*.pid
*.sock

# Log files
*.log
logs/

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Frontend build
frontend/dist/
frontend/build/

# Database
*.sqlite
*.db

# Misc
.idea/
*.swp

#testing script
__pycache__
test_api.py
wjwj.py
power.ps1
PBL.rar

index.html
esp32.ino